/*SCSS variables */

$primary-color: lighten(#133C6A, 13%);
$black-text: #000000;
$white-text: #FFFFFF;
$background-color: #FFFFFF;
$products-background: #f8f9fa;
$footer-background: #151617;
$footer-text: #adb5bd;
$form-background: #f8f8f8;
$form-inner-background: #FFFFFF;
$custom-buttom-hover: #D1D1D1;
$shadow-color: rgba(0, 0, 0, 0.4);
$light-shadow: rgba(0, 0, 0, 0.1);